.register-block{
    float:left;
    width:100%;
    padding : 50px 0;
  }
  
  .container{background:#D3D3D3; border-radius: 10px; width: 40%; height: 40%;}
  .register-sec{padding: 50px 30px; position:relative;}
  .register-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: blueviolet;}
  .register-sec h2:after{content:" "; width:100px; height:5px; background:blueviolet; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-login{background: blueviolet; color:#fff; font-weight:600;}
  a{color: blueviolet;}